  {% extends "layout/base.html" %}
{% set css, title = "static/styles/Events.css", "Events" %}
  {%block body%}


    <section class="u-align-left u-clearfix u-image u-shading u-section-1" id="sec-22ce" data-image-width="1600" data-image-height="800">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-title u-text-1">Events</h1>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-2882">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
          <ul class="u-spacing-10 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item u-tab-item-1" role="presentation">
              <a class="active u-active-grey-5 u-button-style u-custom-color-9 u-tab-link u-text-active-black u-text-body-alt-color u-tab-link-1" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="true">Join</a>
            </li>
            <li class="u-tab-item u-tab-item-2" role="presentation">
              <a class="u-active-grey-5 u-button-style u-custom-color-9 u-tab-link u-text-active-black u-text-body-alt-color u-tab-link-2" id="tab-6e5a" href="#link-tab-6e5a" role="tab" aria-controls="link-tab-6e5a" aria-selected="false">Create</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-align-left u-container-style u-grey-5 u-tab-active u-tab-pane u-tab-pane-1" id="tab-14b7" role="tabpanel" aria-labelledby="link-tab-14b7">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-align-center u-text u-text-1">Join Event</h2>
                <div class="u-form u-form-1">
                  <form action="/events?form=2" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px;" name="form">
                    <div class="u-form-group u-form-name">
                      <label for="name-9e71" class="u-form-control-hidden u-label">Name</label>
                      <input type="text" placeholder="Enter the event code:" id="name-9e71" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                    </div>
                    <div class="u-form-checkbox u-form-group u-form-group-2">
                      <input type="checkbox" id="checkbox-6348" name="checkbox" value="On">
                      <label for="checkbox-6348" class="u-label">Need a ride</label>
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <input type="submit" value="Join" name='join_button' class="u-btn u-btn-submit u-button-style u-custom-color-3 u-btn-1">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
              </div>
            </div>
            <div class="u-container-style u-grey-5 u-tab-pane u-tab-pane-2" id="link-tab-6e5a" role="tabpanel" aria-labelledby="tab-6e5a">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-align-center u-text u-text-2">Create Event</h2>
                <div class="u-form u-form-2">
                  <form action="/events?form=1" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" name="form-1">
                    <div class="u-form-group u-form-name">
                      <label for="name-6c7b" class="u-form-control-hidden u-label">Name</label>
                      <input type="text" placeholder="Enter the event name" id="name-6c7b" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-6c7b" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter the street address" id="email-6c7b" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                    </div>
                    <div class="u-form-group u-form-group-6">
                      <label for="text-859a" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter the secondary address E.g Building 2" id="text-859a" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                    </div>
                    <div class="u-form-group u-form-group-10">
                      <label for="text-4391" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter the event city:" id="text-1234" name="city" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                    </div>
                    <div class="u-form-group u-form-group-10">
                      <label for="text-4391" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter the event state" id="text-4391" name="text-5" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                    </div>
                    <div class="u-form-group u-form-group-11">
                      <label for="text-a530" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter the event's zip code" id="text-a530" name="text-4" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                    </div>
                    <div class="u-form-date u-form-group u-form-group-7">
                      <label for="date-0a6b" class="u-label">Start Date:</label>
                      <input type="date" id="date-0a6b" name="date" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                    </div>
                    <div class="u-form-date u-form-group u-form-group-8">
                      <label for="date-98f0" class="u-label">End Date:</label>
                      <input type="date" id="date-98f0" name="date-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                    </div>
                    <div class="u-form-checkbox u-form-group u-form-group-9">
                      <input type="checkbox" id="checkbox-2e4d" name="recurring" value="On">
                      <label for="checkbox-2e4d" class="u-label">This is a repeating event</label>
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <input type="submit" value="Create" name="create" class="u-btn u-button-style u-custom-color-3 u-btn-2">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-918f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-1">Events</h1>
        <div class="u-border-2 u-border-grey-40 u-line u-line-horizontal u-line-1"></div>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-2">Joined<br>
                  </h2>
                  <p class="u-text u-text-3">Events go here</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-center u-text u-text-4">Owned<br>
                  </h2>
                  {% block content3 %}
                    {% if owned_events %}
                      {% for event in owned_events %}
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/event/{{event.eid}}" style="padding: 10px 20px;">{{event.event_name}}</a>
</li>
                      {% endfor %}
                    {% else %}
                      <p>You haven't created any events!</p>
                    {% endif %}
                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {%endblock body%}