{%extends "layout/base.html"%}
{% set css, title = "static/styles/Event.css", "Event " + event_name %}

{% block body %}
    <section class="u-align-left u-clearfix u-image u-shading u-section-1" src="" id="sec-975f" data-image-width="1600" data-image-height="800">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-1">Event Name:</h1>
        <h3 class="u-text u-text-2">{{event_name}}</h3>
        <h2 class="u-text u-text-3">Event Organiser:</h2>
        <h3 class="u-text u-text-4">{{organiser}}</h3>
        <h1 class="u-text u-text-5">Event Address:</h1>
        <h3 class="u-text u-text-6">{{event_location}}</h3>
        <h1 class="u-text u-text-5">Event Code:</h1>
        <h3 class="u-text u-text-6">{{code}}</h3>
        <h1 class="u-text u-text-7">Event Date:</h1>
        <h3 class="u-text u-text-8">{{event_start}} - {{event_end}}</h3>
        <h2 class="u-text u-text-9">Event Participants:</h2>
        {% block content %}
          {% if event_participants %}
            {% for uid, name in event_participants.items() %}
              <p>{{name}}</p>
              {% if owner %}
                <div class="u-form u-form-1">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
                    <div class="u-align-left u-form-group u-form-submit">
                      <a href="/event/remove/{{eid}}/{{uid}}" class="u-btn u-btn-submit u-button-style u-custom-color-11 u-btn-1">Kick</a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
              {% endif %}
              <div class="u-form u-form-2">
                <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
                  <div class="u-align-right u-form-group u-form-submit">
                    <a href="/send/{{uid}}" class="u-btn u-btn-submit u-button-style u-custom-color-9 u-btn-2">Send Request</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                  </div>
                  <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                  <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                  <input type="hidden" value="" name="recaptchaResponse">
                </form>
              </div>
            {% endfor %}
          {% else %}
            <h3>No Participants</h3>
          {% endif %}
        {% endblock %}
        {% block content2 %}
        <div class="u-grey-light-2 u-map u-map-1">
          <div class="embed-responsive">
            <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q={{address_list[0]}}%20{{address_list[1]}}%20{{address_list[2]}}%20{{address_list[3]}}%20{{address_list[4]}}&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyMjcwMjAlMjBDZWRhciUyMFJkJTIwQmVhY2h3b29kJTIwT2hpbyUyMiUyQyUyMnpvb20lMjIlM0FudWxsJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlN0Q="></iframe>
          </div>
        </div>
        {% endblock %}
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-16ee"></section>
    
{%endblock body%}