{% extends "layout/base.html" %}
{% set css, title = "static/styles/Home.css", "Home" %}
{%block body%}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <section class="u-align-left u-clearfix u-image u-section-1" id="sec-edf6" data-image-width="1000" data-image-height="500">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-align-center u-clearfix u-white u-section-2" id="carousel_643c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h1 class="u-text u-text-body-color u-text-1">Pending Requests</h1>
                    {% block content2 %}
                        {% if logged_in %}
                            {% if requests %}
                                {% for request in requests %}
                                    </li><li class="u-nav-item" style="height: 15%;"><a class="u-button-style u-nav-link" href="/specificRequests/{{request.rid}}" style="margin-top: 5px; margin-bottom: -100px; margin-left: 86%;">{{names[request]}}</a>
                                {% endfor %}
                            {% else %}
                                    <h3 class="u-section-2 u-text-4">None</h3>
                            {% endif %}
                        {% else %}
                            <h2 class="u-section-2 u-text-4">You're not logged in!</h2>
                        {% endif %}
                    {% endblock %}
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <h1 class="u-text u-text-body-color u-text-3">Events</h1>
                    <br>
                    {% block content1 %}
                        {% if logged_in %}
                            {% if events %}
                                {% for event in events %}
                                    </li><li class="u-nav-item" style="height: 15%;"><a class="u-button-style u-nav-link" href="/event/{{event.eid}}" style="margin-top: -5px; margin-bottom: -100px; margin-left: 4%;">{{event.event_name}}</a>
                                {% endfor %}
                            {% else %}
                                    <h3 class="u-section-2 u-text-5" style="margin-left: -33%;">None</h3>
                            {% endif %}
                        {% else %}
                            <h2 class="u-section-2 u-text-4" style="margin-left: 4%; margin-top: 1%;">You're not logged in!</h2>
                        {% endif %}
                    {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="/events" data-page-id="83571567" class="u-black u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-radius-50 u-btn-1">Events</a>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-7 u-section-3" id="sec-eea0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-1">About Us</h2>
                  <p class="u-align-center u-text u-text-2">Learn more about Eco-Go</p>
                  <a href="/about" data-page-id="2420901937" class="u-btn u-button-style u-hover-white u-text-custom-color-7 u-text-hover-custom-color-6 u-white u-btn-1">Go there</a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-center u-text u-text-3">Guide</h2>
                  <p class="u-align-center u-text u-text-4">A quick how-to on using this revolutionary tool.</p>
                  <a href="/guide" data-page-id="483614229" class="u-btn u-button-style u-hover-white u-text-custom-color-7 u-text-hover-custom-color-6 u-white u-btn-2">Learn More<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock body %}