{% extends "layout/base.html" %}
{% set css, title = "static/styles/Login.css", "Login" %}
  {%block body%}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <section class="u-align-left u-clearfix u-image u-shading u-section-1" id="sec-4f79" data-image-width="1600" data-image-height="800">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-title u-text-1">Login</h1>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-section-2" id="sec-6379">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
          <ul class="u-spacing-30 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-active-custom-color-7 u-button-style u-tab-link u-tab-link-1" id="link-tab-081f" href="/login" role="tab" aria-controls="tab-081f" aria-selected="true">Login</a>
            </li>
            <li class="u-tab-item u-tab-item-2" role="presentation">
              <a class="u-active-custom-color-7 u-button-style u-tab-link u-tab-link-2" id="tab-6219" href="/register" role="tab" aria-controls="link-tab-6219" aria-selected="false">Register</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane" id="tab-081f" role="tabpanel" aria-labelledby="link-tab-081f">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-align-center u-text u-text-1">Login<br>
                </h2>
                <div class="u-form u-form-1">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" name="form-1">
                    <div class="u-form-group u-form-name">
                      <label for="username-281b" class="u-form-control-hidden u-label">Name</label>
                      <input type="text" placeholder="Username" id="username-281b" name="username-281b" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-1" required="">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="pass-281b" class="u-form-control-hidden u-label">Email</label>
                      <input type="password" placeholder="Password" id="pass-281b" name="pass-281b" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-2" required="">
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <input type="submit" value="Login" name="login-button" class="u-btn u-btn-submit u-button-style u-btn-1">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
              </div>
            </div>
            <div class="u-container-style u-tab-pane" id="link-tab-6219" role="tabpanel" aria-labelledby="tab-6219">
              <div class="u-container-layout u-valign-bottom u-container-layout-2">
                <h2 class="u-align-center u-text u-text-2">Reg<span style="font-weight: 400;"></span>ister
                </h2>
                <div class="u-form u-form-2">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" name="form">
                    <div class="u-form-group u-form-name">
                      <label for="name-1358" class="u-form-control-hidden u-label">Name</label>
                      <input type="text" placeholder="Enter your first name" id="name-1358" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                    </div>
                    <div class="u-form-group u-form-group-5">
                      <label for="text-f35d" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter your last name" id="text-f35d" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                    </div>
                    <div class="u-form-group u-form-group-6">
                      <label for="text-fed1" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter a username" id="text-fed1" name="text-5" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                    </div>
                    <div class="u-form-group u-form-group-7">
                      <label for="text-c1e0" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Password" id="text-c1e0" name="password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required" maxlength="15">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-1358" class="u-form-control-hidden u-label">Email</label>
                      <input type="email" placeholder="Enter a valid email address" id="email-1358" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                    </div>
                    <div class="u-form-group u-form-group-9">
                      <label for="text-06b9" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter your street address" id="text-06b9" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                    </div>
                    <div class="u-form-group u-form-group-10">
                      <label for="text-4391" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter your state" id="text-4391" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                    </div>
                    <div class="u-form-group u-form-group-11">
                      <label for="text-a530" class="u-form-control-hidden u-label"></label>
                      <input type="text" placeholder="Enter your zip code" id="text-a530" name="text-4" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                    </div>
                    <div class="u-form-agree u-form-group u-form-group-12">
                      <input type="checkbox" id="agree-05ce" name="agree" class="u-agree-checkbox" required="">
                      <label for="agree-05ce" class="u-label">I accept the <a href="#">Terms of Service</a>
                      </label>
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                      <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock body%}
