{% extends "layout/base.html" %}
{%block body%}

<section>
    <div>
        <p>Signing up for Eco-Go involves providing us with your contact information, address, and other PII (Personally Identifiable Information).</p><br>
        <p>This information is used to provide an accurate and smooth service from Eco-Go</p><br>
        <p>Your email and phone number are used to allow other users to contact when necessary</p><br>
        <p>Your address is used to allow other users to properly give you a carpool</p><br>
        <p>Your name and other information is used to allow other users to identify you</p><br>
        <p>None of this information is given to any third-parties and your information is encrypted before reaching our servers</p><br>
    </div>
</section>

{% endblock body %}