{% extends "layout/base.html" %}
{% set css, title = "static/styles/Requests.css", "Requests" %}
  {%block body%}

    <section class="u-align-left u-clearfix u-image u-shading u-section-1" id="sec-8e92" data-image-width="1600" data-image-height="800">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-title u-text-1">Requests</h1>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-0712">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
          <ul class="u-border-2 u-border-palette-1-base u-spacing-10 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-active-grey-10 u-button-style u-custom-color-9 u-tab-link u-text-active-black u-text-body-alt-color u-tab-link-1" id="link-tab-6d38" href="#tab-6d38" role="tab" aria-controls="tab-6d38" aria-selected="true">Make A Request<br>
              </a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-grey-10 u-button-style u-custom-color-9 u-tab-link u-text-active-black u-text-body-alt-color u-tab-link-2" id="link-tab-0b3f" href="#tab-0b3f" role="tab" aria-controls="tab-0b3f" aria-selected="false">Pending Requests</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-grey-10 u-tab-active u-tab-pane u-tab-pane-1" id="tab-6d38" role="tabpanel" aria-labelledby="link-tab-6d38">
              <div class="u-container-layout u-container-layout-1">
                  {% block content %}
                    {% if users %}
                        {% for uid, name in users %}
                            <p class="u-text u-text-default u-text-1">{{name}}<br>
                        {% endfor %}
                    {% else %}
                        <h3>No available users</h3>
                    {% endif %}
                  {% endblock %}
                </p>
              </div>
            </div>
            <div class="u-container-style u-grey-10 u-tab-pane u-tab-pane-2" id="tab-0b3f" role="tabpanel" aria-labelledby="link-tab-0b3f">
              <div class="u-container-layout u-container-layout-2">
                  {% block content2 %}
                    {% if events %}
                        {% for event in events %}
                            <h3>{{event}}</h3>
                        {% endfor %}
                    {% else %}
                        <h3>No Events</h3>
                    {% endif %}
                  {% endblock %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {%endblock body%}