{% extends "layout/base.html" %}
{%block body%}

<section>
    <div>
        <p>1. THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p><br>
        <p>2. THE AUTHORS AND OWNERS OF THIS SOFTWARE REMAIN WITHOUT LIABILITY FOR ANY ACTIONS THAT RESULT FROM, ARE RELATED TO OR ARE CAUSED BY THIS SOFTWARE OR THE USE OF IT</p><br>
        <p>3. THE AUTHORS AND OWNERS OF THIS SOFTWARE ARE NOT LIABLE FOR ANY CONTENT UPLOADED BY USERS TO THIS SOFTWARE INCLUDING BUT NOT LIMITED TO: TEXT AND IMAGES.</p><br>
        <p>4. ANY ACCOUNTS THAT VIOLATE ANY OF THESE TERMS AND CONDITIONS ARE SUBJECT TO DISCIPLINARY ACTION SUCH AS THE FOLLOWING: ACCOUNT SUSPENSION, AND ACCOUNT DELETION.</p><br>
        <p>5. THESE TERMS AND CONDITIONS ARE APPLICABLE TO ANY AND ALL USAGE OF THIS SOFTWARE AFTER 7/14/2021.</p><br>
    </div>
</section>

{% endblock body %}