.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/images/green_background.svg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-1 .u-text-1 {
  margin: 124px 599px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 45px 303px 0 0;
}

.u-section-1 .u-form-1 {
  height: 67px;
  margin: -67px 152px 0 688px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-form-2 {
  height: 67px;
  margin: -67px 442px 0 398px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
}

.u-block-22d3-13 {
  filter: brightness(0.6);
  width: 570px;
  height: 400px;
  margin: 289px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 599px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 45px 303px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 30px 599px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 45px 303px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 30px 599px 0 0;
}

.u-section-1 .u-map-1 {
  height: 534px;
  width: 820px;
  margin: -349px -10px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 25px;
  margin: 30px 300px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -565px;
    margin-right: 399px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 103px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 52px;
    margin-left: 588px;
  }

  .u-section-1 .u-form-2 {
    width: 570px;
    margin-right: 342px;
    margin-left: 298px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 399px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 399px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 399px;
  }

  .u-section-1 .u-map-1 {
    height: 295px;
    width: 696px;
    margin-top: -219px;
    margin-right: -382px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -31px;
    margin-right: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 232px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 179px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 179px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 179px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -544px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
    margin-right: 142px;
    margin-left: 98px;
  }

  .u-block-22d3-13 {
    width: 540px;
    height: 379px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -320px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 293px;
    margin-left: 40px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
    margin-top: 356px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-block-22d3-13 {
    width: 340px;
    height: 239px;
    margin-top: 205px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -753px;
  }

  .u-section-1 .u-map-1 {
    margin-top: -227px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 400px;
  }
}.u-section-2 {
  min-height: 318px;
}